# Core
numpy
opencv-python
Pillow
pyyaml

# Torch
torch
torchvision
torchaudio

# Transformers / LLM / VLM
transformers==4.48.2
accelerate
sentencepiece
safetensors

# OCR + Detection
paddleocr
paddlepaddle

# Image processing
scikit-image
deskew

# Utilities
tqdm
matplotlib

bitsandbytes